ul {
  list-style-type: none;
}

/* HOME */

.Home {
  height: 100vh;

  background-color: #ebd4cb;
}

.ComingSoon {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #ebd4cb;
}
.cards-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
/* NAVIGATION */

/* top nav bar */

.Top-Nav {
  height: 5em;

  background-color: #3a3042;
}
.nav-wrapper {
  height: 100%;
}
.nav-ul {
  height: 100%;
  display: flex;
  align-items: center;
  width: 30vw;
  justify-content: space-around;
}

.nav-ul > li > a {
  text-decoration: none;
  color: #edffd9;
  font-size: 22px;
}

/* FOOTER */

/* site-footer */

.site-footer {
  padding: 80px 40px;
  height: 25em;
  background-color: #3a3042;
}

.footer-container {
  padding: 0 80px;
  max-width: 1440px;
}

/* CARD */

.Card {
  width: 272px;
  margin-left: 1em;
  border-radius: 5px;
}

.topic-title {
  width: 100%;
  height: 40px;
  font-size: 22px;
  font-weight: 600;
  background: none;
  border: none;
  outline: none;
  resize: none;
  overflow: hidden;
}

.list-cards {
  height: auto;
}
.card-label {
  display: inline-block;
  height: 8px;
  width: 30px;
  border-radius: 5px;
  background: #ff784f;
}
.card-click {
  background: #ffe19c;
  cursor: pointer;
  display: block;
  min-height: 20px;
  border-radius: 10px;
  padding: 5px 8px;
}

.card-add-btn {
  display: block;
  border: 3px solid #de3c4b;
  color: #de3c4b;
  padding: 0.7em 0.8em;
  margin-top: 0.4em;
  margin-left: auto;
  font-size: 0.8rem;
  font-weight: 600;
  border-radius: 20px;
  background: none;
  cursor: pointer;
}

/* HERO*/

.Hero {
  min-height: 100vh;
}

.Hero .banner {
  background-color: #ffe19c;
  height: 30em;
  display: grid;
  place-items: center;
}
.more-info {
  height: 40em;
  background-color: #de3c4b;
}

/* INPUTBUTTON */
.sub-form {
  display: flex;
  flex-direction: row;
}

.sub-input {
  background-color: #fff1d0;
  border: none;
  color: #3a3042;
  outline: none;
  width: 23em;
  padding: 1em 1.2em;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1.2rem;
}
.sub-btn {
  margin-left: 0.8em;
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: #ff784f;
  border: none;
  outline: none;
  padding: 0.4em 2em;
  border-radius: 10px;
}
.Login {
  background: #2e294e;
  display: grid;

  place-items: center;
  height: 100vh;
}
.login-form {
  background-color: #f2fdff;
  display: grid;
  grid-template-rows: 2fr 1fr 4fr;
  height: 618px;
  width: 603px;
  border-radius: 22px;
  text-align: center;
}
.login-title {
  font-size: 4rem;
  font-weight: 700;
  place-self: center;
}
.Login .login-input {
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid #2e294e;
  width: 300px;
}
.Login .btn-login {
  background: #2e294e;
  outline: none;
  border: none;
  font-size: 1.6rem;
  color: white;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  place-self: center;
}

.Login .input-container {
  /* display: flex; */
  /* justify-content: center;
  align-items: center;
  flex-direction: column; */
  height: 100px;
  width: 300px;
  place-self: center;
}
/* Register */

.Register {
  background: #2e294e;
  display: grid;

  place-items: center;
  height: 100vh;
}
.register-form {
  background-color: #f2fdff;
  display: grid;
  grid-template-rows: 2fr 1fr 4fr;
  height: 618px;
  width: 603px;
  border-radius: 22px;
  text-align: center;
}
.register-title {
  font-size: 4rem;
  font-weight: 700;
  place-self: center;
}
.Register .register-input {
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid #2e294e;
  width: 300px;
}
.Register .btn-register {
  background: #2e294e;
  outline: none;
  border: none;
  font-size: 1.6rem;
  color: white;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  place-self: center;
}

.Register .input-container {
  /* display: flex; */
  /* justify-content: center;
  align-items: center;
  flex-direction: column; */
  height: 100px;
  width: 300px;
  place-self: center;
}
